[submodule "structure-gateway"]
	path = structure-gateway
	url = https://github.com/structure-projects/structure-gateway.git
[submodule "structure-oauth"]
	path = structure-oauth
	url = https://github.com/structure-projects/structure-oauth.git
[submodule "structure-user"]
	path = structure-user
	url = https://github.com/structure-projects/structure-user.git
[submodule "structure-admin"]
	path = structure-admin
	url = https://github.com/structure-projects/structure-admin.git
[submodule "structure-admin-ui"]
	path = structure-admin-ui
	url = https://github.com/structure-projects/structure-admin-ui.git
[submodule "structure-boot"]
	path = structure-boot
	url = https://github.com/structure-projects/structure-boot.git
[submodule "structure-cloud"]
	path = structure-cloud
	url = https://github.com/structure-projects/structure-cloud.git
[submodule "structure-job"]
	path = structure-job
	url = https://github.com/structure-projects/structure-job.git
[submodule "structure-security"]
	path = structure-security
	url = https://github.com/structure-projects/structure-security.git
[submodule "structure-docs"]
	path = structure-docs
	url = https://github.com/structure-projects/structure-docs.git
[submodule "somcli"]
	path = somcli
	url = https://github.com/structure-projects/somcli.git
[submodule "structure-monitor"]
	path = structure-monitor
	url = https://github.com/structure-projects/structure-monitor.git
[submodule "structure-message"]
	path = structure-message
	url = https://github.com/structure-projects/structure-message.git
[submodule "structure-trade"]
	path = structure-trade
	url = https://github.com/structure-projects/structure-trade.git
[submodule "structure-ops"]
	path = structure-ops
	url = https://github.com/structure-projects/structure-ops.git
