[submodule "structure-gateway"]
	path = structure-gateway
	url = https://github.com/structure-projects/structure-gateway.git
[submodule "structure-oauth"]
	path = structure-oauth
	url = https://github.com/structure-projects/structure-oauth.git
[submodule "structure-user"]
	path = structure-user
	url = https://github.com/structure-projects/structure-user.git
[submodule "structure-admin"]
	path = structure-admin
	url = https://github.com/structure-projects/structure-admin.git
[submodule "structure-admin-ui"]
	path = structure-admin-ui
	url = https://github.com/structure-projects/structure-admin-ui.git
[submodule "structure-boot"]
	path = structure-boot
	url = https://github.com/structure-projects/structure-boot.git
[submodule "structure-cloud"]
	path = structure-cloud
	url = https://github.com/structure-projects/structure-cloud.git
[submodule "structure-job"]
	path = structure-job
	url = https://github.com/structure-projects/structure-job.git
[submodule "structure-security"]
	path = structure-security
	url = https://github.com/structure-projects/structure-security.git
[submodule "structure-docs"]
	path = structure-docs
	url = https://github.com/structure-projects/structure-docs.git
[submodule "somcli"]
	path = somcli
	url = https://github.com/structure-projects/somcli.git
[submodule "structure-monitor"]
	path = structure-monitor
	url = https://github.com/structure-projects/structure-monitor.git
[submodule "structure-message"]
	path = structure-message
	url = https://github.com/structure-projects/structure-message.git
[submodule "structure-ops"]
	path = structure-ops
	url = https://github.com/structure-projects/structure-ops.git
[submodule "structure-alert"]
	path = structure-alert
	url = https://github.com/structure-projects/structure-alert.git
[submodule "structure-audit"]
	path = structure-audit
	url = https://github.com/structure-projects/structure-audit.git
[submodule "structure-member"]
	path = structure-member
	url = https://github.com/structure-projects/structure-member.git
[submodule "structure-account"]
	path = structure-account
	url = https://github.com/structure-projects/structure-account.git
[submodule "structure-order"]
	path = structure-order
	url = https://github.com/structure-projects/structure-order.git
[submodule "structure-product"]
	path = structure-product
	url = https://github.com/structure-projects/structure-product.git
[submodule "structure-seller"]
	path = structure-seller
	url = https://github.com/structure-projects/structure-seller.git
[submodule "structure-risk"]
	path = structure-risk
	url = https://github.com/structure-projects/structure-risk.git
[submodule "structure-pay"]
	path = structure-pay
	url = https://github.com/structure-projects/structure-pay.git
[submodule "structure-content"]
	path = structure-content
	url = https://github.com/structure-projects/structure-content.git
[submodule "structure-advertising"]
	path = structure-advertising
	url = https://github.com/structure-projects/structure-advertising.git
