[Unit]
Description=Nomad Agent
After=network.target

[Service]
ExecStart=/usr/local/bin/nomad agent -config=/opt/nomad/config/consul-client.hcl
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target